.buyerProfielContainer {
    margin-left: 15rem;
    margin-top: 5rem;
}
.favoriteProductsHeader{
    display: flex;
    align-items:stretch;
    gap: 0.4rem;
}
.favoriteProductsHeader span{
    margin-top: 4px;
}
.favoriteProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* Adjusted to maintain even spacing */
    width: calc(100% - 2rem);
    gap: 1rem;
}

/* Flex child */
.favoriteProductCard {
    background-color: #ffffff;
    flex: 0 0 calc(15% - 1rem);
    min-width: 15rem;
    height: 26rem;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: transform 0.3s;
}

.productImageDiv {
    position: relative;
    left: -1rem;
    top: -1rem;
    height: 15rem;
    width: calc(100% + 2rem);
    display: flex;
}

.productImage {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    /* Rounded top-left corner */
    border-top-right-radius: 5px;
    /* Rounded top-right corner */
}
.productActionDiv{
    position: relative;
    bottom: 0;
}
.productAction {
    cursor: pointer;
}

.productAction:hover {
    color: #ff0000;
}

.mostBoughtProductCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.mostBoughtProductInfo h3 {
    font-weight: bold;
    color: #000000;
}