<div class="buyerProfielContainer">
    <h1>Buying profile</h1>
    @if(user){
    <div class="buyerProfileContent">
        <div class="favoriteProductsHeader">
            <h2>Favorite Products</h2>
            <!-- expand -->
            @if(showFavoriteProducts){
                <span class="material-symbols-outlined" (click)="toggleFavoriteProducts()">
                    expand_more
                </span>
            }
            <!-- collapse -->
            @if(!showFavoriteProducts){
                <span class="material-symbols-outlined" (click)="toggleFavoriteProducts()">
                    expand_less
                </span>
            }
        </div>
        @if(showFavoriteProducts){<div class="favoriteProducts" >
            @for(product of favoriteProductsDetails; track product){
                <div class="favoriteProductCard">
                    <div class="productImageDiv">

                        <img [src]="getMediaUrl(product.id)" alt="{{ product.name }}" class="productImage">
                    </div>
                    <div class="productInfoDiv">

                        <p>{{ product.name.slice(0, 20) }}</p>
                        <p>{{ product.price }}€</p>
                        <p>{{ product.description.slice(0, 20) }}</p>

                    </div>
                    <div class="productActionDiv">
                        <span class="material-symbols-outlined productAction"
                            (click)="removeFromFavorite(product.id)">remove</span>
                        <span class="material-symbols-outlined productAction" (click)="addToCart(product.id)">
                            add_shopping_cart
                        </span>
                    </div>
                </div>}
        </div>
        }

        <div class="totalAmountSpent">
            <h2>Total amount spent</h2>
            <p>{{ user.totalAmountSpent }}€</p>
        </div>
        <div class="mostBoughtProducts">
            <h2>Most bought product</h2>
            @if(mostBoughtProductDetails){
                <div>
                    <div class="mostBoughtProductCard">
                        <div class="mostBoughtProductInfo">
                            <h3>{{mostBoughtProductDetails.name}}</h3>
                            <p>{{mostBoughtProductDetails.price}}€</p>
                            <p>{{mostBoughtProductDetails.description.slice(0, 20)}}</p>
                        </div>
                        <div class="mostBoughtProductAction">
                            <span class="material-symbols-outlined productAction"
                                (click)="addToCart(mostBoughtProductDetails.id)">
                                add_shopping_cart
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    }

</div>