<div class="SellerProfileContainer">
    <h1>Seller Profile</h1>

    <div class="bestSellingContainer">
        <h2>Your Best Selling Products</h2>
        <div @for="let product of bestSellingProducts; let i = index" class="product">
            <h3>{{ i + 1 }} {{ product.name }}</h3>
            <p>Description: {{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
            <p>Total Amount Sold: {{ product.totalAmountSold }}</p>
            <p>Stock: {{ product.quantity }}</p>
            <!-- Display other product details here if needed -->
        </div>
    </div>

    <div class="gainedContainer">
        <div @if="user">
            <h2>Gained</h2>
            <p>{{ user.totalAmountGained }}$</p>
        </div>
    </div>
</div>
