<div class="orderListContainer">
    <h1>Orders</h1>
    <div class="allOrders">
        <!-- loop all the orders -->
        @for(order of orders; track order.id){
            <div [ngClass]="{'orderCard': true, 'extendOrder': order.expanded}" id="{{order.id}}" (click)="expandOrder(order)">
                <span class="material-symbols-outlined expand">
                    @if(order.expanded){expand_less}@else{expand_more}
                </span>
                <div class="orderDetails">
                    <p>{{ order.id }}</p>
                    <p>Status: <span class="status">{{order.status}}</span></p>
                    <p>In cart: {{order.isInCart}}</p>
                    <p>Created at: {{order.createdAt}}</p>
                    <p>Updated at: {{order.updatedAt}}</p>
                    <p>Total: {{order.total}}€</p>
                    <div class="orderActions">

                        @if (order.status != "CANCELLED") {
                            <span class="material-symbols-outlined cancelOrder" (click)="cancelOrder(order.id)">
                                block
                            </span>
                        }
                        <span class="material-symbols-outlined redoOrder" (click)="redoOrder(order.id)">
                            cycle
                        </span>
                    </div>
                    
                </div>
                @if(order.expanded){
                    <div class="products">
                        <!-- loop all the products in the order -->
                        @for(product of order.products; track product.id){
                            <div class="productCard">
                                <img [src]="getMediaUrl(product.id)" alt="{{ product.name }}" class="productImage"/>
                                <p>{{ product.name }}</p>
                                <p>{{ product.price }}$</p>
                            </div>
                        }
                    </div>}
            </div>
        }
    </div>
</div>
