<div class="navBar" id="navbar">
    <div class="home section">
        <div class="homeLink linkSection" routerLink="/" (click)="closeNavbar()">
            <span class="material-symbols-outlined">
                home
            </span>
            <a class="link">Buy-02</a>
        </div>
    </div>
    <!-- basics -->
    <div class="firstSection section">
        <div class="productListLink linkSection" routerLink="/productList" routerLinkActive="activeLink" (click)="closeNavbar()">
        <span class="material-symbols-outlined">
                shopping_bag
            </span>
            <a class="link">Products</a>
        </div>
        <!-- cart -->
        <div class="cart linkSection" routerLink="/cart" (click)="closeNavbar()" routerLinkActive="activeLink">
            <span class="material-symbols-outlined cart">
                shopping_cart
            </span>
            <a class="link">Cart</a>
        </div>
        <!-- orders -->
        <div class="orderListLink linkSection" routerLink="/orderList"  (click)="closeNavbar()" routerLinkActive="activeLink">
            <span class="material-symbols-outlined">
                shopping_basket
            </span>
            <a class="link">Orders</a>
        </div>
        <!-- Buyer profile -->
        <div class="buyerProfile linkSection" routerLink="/buyerProfile"  (click)="closeNavbar()" routerLinkActive="activeLink">
            <span class="material-symbols-outlined">
                person
            </span>
            <a class="link">Buyer Profile</a>
        </div>
        <hr>
    </div>
    <!-- Sellers Links -->
    <div class="secondSection section" @if="isAdmin$ | async">

        <div class="dashboardLink linkSection" routerLink="/productManagement"  (click)="closeNavbar()" routerLinkActive="activeLink">
            <span class="material-symbols-outlined">
                Dashboard
            </span>
            <a class="link">Dashboard</a>
        </div>

        <div class="mediaManagementLink linkSection" routerLink="/mediaManagement"  (click)="closeNavbar()" routerLinkActive="activeLink">
            <span class="material-symbols-outlined">
                photo_library
            </span>
            <a class="link">Medias</a>
        </div>

        <div class="sellerProfile linkSection" routerLink="/sellerProfile"  (click)="closeNavbar()" routerLinkActive="activeLink">
            <span class="material-symbols-outlined">
                leaderboard
            </span>
            <a class="link">Seller Profile</a>
        </div>
        <hr>
    </div>
    <!-- profile -->
    <div class="thirdSection section" id="thirdSection">
        
        <div class="profile" routerLink="/profileManagment"  (click)="closeNavbar()" routerLinkActive="activeLink">
            <div @if="avatarUrl$ | async as avatarUrl">
                <img [src]="avatarUrl || ''" alt="Profile Picture" class="profileImage">
            </div>
            <div>
                <a class="profileName" @if="username$ | async as username">
                    {{ username.length > 6 ? (username.slice(0, 6) + '...') : username }}
                </a>
                <p class="profileRole" @if="userRole$ | async as userRole">
                    {{ userRole }}
                </p>
            </div>
        </div>

    </div>
    <!-- login -->
    <div class="fourthSection section">
        <div class="logOutLink linkSection" (click)="logOut()">
            <span @if="isAuthenticated$ | async" class="material-symbols-outlined">
                logout
            </span>
            <a @if="isAuthenticated$ | async" (click)="logOut()" class="logOutLink">Log out</a>
        </div>
    </div>
</div>

<svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')"
    (click)="toggleNavbar()">
    <path class="line top"
        d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
    <path class="line middle" d="m 30,50 h 40" />
    <path class="line bottom"
        d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
</svg>