.navBar {
  background-color: var(--second-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
  color: var(-);
  font-size: larger;
  gap: 3rem;
  
}
hr {
  border: none;
  border-top: 2px solid var(--sixth-color); 
  margin: 10px 0; 
  width: 100%; 
}
.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.linkSection{
  display: flex;
  cursor: pointer;
  margin-top: 1rem;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
.linkSection:hover{
  color: var(--first-color);
  transform: scale(1.04);
}
.firstSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 5rem;
}
.profileImage {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--sixth-color);
}

/* styling for phone screen */
@media screen and (max-width: 768px) {
  .navBar {
    width: 1.5rem;
    gap: 0rem;
  }
  .profile img {
    width: 3rem;
    height: 3rem;
  }
}
.showNavbar {
  visibility: visible;
}
