<div class="profileManagmentContainer">
    <div class="profileManagmentCard">
        <h1 class="manageProfileHeadning">Manage your profile: {{username}}</h1>
        <p>Only make changes if you know what you are doing</p>
        <div class="editProfileFildsDiv">
            <form action="" class="editProfileFields">
                <h3>Edit profile</h3>
                <input type="text" class="newName" id="newName" placeholder="New name">
                <input type="text" class="newEmail" id="newEmail" placeholder="New email">
                <input type="password" class="newPassword" id="newPassword" placeholder="New password">
                <!-- dropdown -->
                <select name="newRole" id="newRole" title="Select your role">
                    <option value="ROLE_ClIENT">CLIENT</option>
                    <option value="ROLE_SELLER">SELLER</option>
                </select>
                <button type="button" (click)="editProfile()">Submit changes</button>
            </form>
        </div>

        @if(isAdmin$ | async) {
        <div class="editProfilePictureDiv">
            <form (submit)="editProfilePicture(); $event.preventDefault()" class="editProfilePicture">
                <h3>Edit profile picture</h3>
                @if(confirmedProfilePicChange){<p>You updated the profile picture</p>}

                <!-- Use [src] for property binding and provide a descriptive alt text -->
                <label for="profilePic">Current profile picture:</label>
                @if(avatarUrl$ | async; as avatarUrl){
                <img [src]="avatarUrl" alt="Profile Picture"
                    class="profilePic">}

                <!-- Display the error message only if there is one -->
                @if(errorMessage){<p>{{ errorMessage }}</p>}

                <!-- Associate a label with the file input -->
                <label for="newProfilePicture">Upload Profile Picture:</label>
                <input type="file" class="newProfilePicture" id="newProfilePicture">

                <!-- Specify the button type to "button" to prevent form submission -->
                <button type="button" (click)="editProfilePicture()">Submit changes</button>
            </form>
        </div>
        }

        <div class="deleteProfileDiv">
            <h3>Delete profile</h3>
            @if(!showDelete()){<button type="button" (click)="checkDelete()" class="deleteProfileButton">Delete profile</button>}
            @if(showDelete()){<button type="button" (click)="deleteProfile()" class="deleteProfileButtonConfirm">Confirm delete</button>}
            @if(showDelete()){<button type="button" (click)="checkDelete() " class="deleteProfileButtonDont">Don't delete</button>}
        </div>
    </div>

</div>
