<div class="loginContainer">
  <form action="" class="logInForm">
    @if(showLogIn()){<h1>Log in</h1>}
    @if(showSignUp()){<h1>Sign up</h1>}
    @if(errorMessage){<p class="error">{{ errorMessage }}</p>}
    <input
      type="text"
      placeholder="Username"
      class="username"
      name="username"
      [(ngModel)]="username"
      required
    />

    @if(showEmail()){
      <input
        type="text"
        placeholder="Email"
        class="email"
        name="email"
        [(ngModel)]="email"
      />
    }

    <input
      type="password"
      placeholder="Password"
      id="password"
      class="password"
      name="password"
      [(ngModel)]="password"
      required
    />

    @if(showSignUp()){
      <input
        type="password"
        placeholder="Confirm Password"
        class="password"
        id="confirmPassword"
        name="confirmPassword"
      />
    }

    <!-- checkbox to check when you want to sign up as a seller -->
    @if(showSignUp()){
      <div class="sellerCheckbox">
        <label for="seller">I want to be a seller</label>
        <input
          type="checkbox"
          class="seller"
          [(ngModel)]="isSeller"
          name="isSeller"
          id="seller"
        />
      </div>
    }

    <!-- input to upload avatar when you want to sign up as a seller -->
    @if(isSeller){
      <div class="sellerMediaUpload">
        <label for="mediaUpload">Upload avatar </label>
        <input
          type="file"
          class="mediaUpload"
          id="mediaUpload"
          (change)="onFileSelected($event)"
        />
        <button type="button" class="uploadButton" (click)="triggerFileInput()">
          Choose File
        </button>
        <span class="fileName">{{ selectedFileName }}</span>
      </div>
    }

    @if(showLogIn()){<button type="submit" class="submit" (click)="LogIn()">Log in</button>}
    @if(showSignUp()){<button type="submit" class="signUp" (click)="validateForm()">Sign Up</button>}

    @if(!showLogIn()){<p >Already have an account? <a (click)="goLogIn()">Log in</a></p>}
    @if(!showSignUp()){<p >Don't have an account? <a (click)="goSignUp()"> Sign Up </a></p>}
  </form>
</div>
