<div class="bakground"></div>
<div class="productManagmentContainer">

    
    <div>
        <h1>Product managment </h1>
    </div>
      
    <div class="addProduct">
        <span class="material-symbols-outlined" (click)="addproduct()">
            add
        </span>
    </div>
    <div class="productManagmentList">
        @for(product of products; track product.id){
            <div class="productCard" [ngClass]="{'expanded': product.isExpanded}">
                <div class="productImageDiv" >
                    <img [src]="getMediaUrl(product.id)" alt="" class="productImage">
                </div>
                <div class="productInfoDiv">
                    <h2>{{ product.name }}</h2>
                    @if(product.description.length > 50){
                        <p>
                            <span>@if(product.isReadMore){ {{ product.description | slice:0:50 }}...} @else { {{ product.description }} }</span>
                            @if(product.isExpanded){
                                <span class="material-symbols-outlined closeIcon" (click)="toggleDescription(product)">close</span>
                            }
                            <a (click)="toggleDescription(product)">{{ product.isReadMore ? ' Read More' : ' Read Less' }}</a>
                        </p>} 
                        @else {<p>{{ product.description }}</p>}
                    
                    <p>{{product.price}}€</p>
                    <p>{{ product.quantity }}</p>
                    <p class="productId">{{ product.id }}</p>
                </div>
                
                <div class="productsControll">
                    @if(!showDelete()){
                        <span class="material-symbols-outlined" (click)="editProduct(product.id)">edit</span>
                        <span class="material-symbols-outlined" (click)="confirmDelete()">delete</span>
                        <span class="material-symbols-outlined" (click)="showUploadMedia(product.id)">image</span>}
                        @else {
                            <div class="deleteProduct">
                                <h4 class="deleteProductHeading">Do you want to delete  {{ product.name }}?</h4>
                                <button type="button" (click)="deleteProduct(product.id)" class="yesDelete">YES</button>
                                <button type="button" (click)="confirmDelete()" class="noDelete">NO</button>
                            </div>
                        }
                </div>
            </div>
        }
    </div>
</div>

<!-- add product -->
@if(showProduct()){
    <div class="addProductContainer">
        <div class="addProductModal">
            <span class="material-symbols-outlined closeModal" (click)="closeModal()">
                close
            </span>
            <h1>Add a product</h1>
            <form action="" class="formClass">
                <input type="text" placeholder="name" id="name" class="name">
                <textarea name="description" class="description" placeholder="description" id="description"></textarea>
                <input type="number" placeholder="price" id="price" class="price">
                <input type="number" placeholder="quantity" id="quantity" class="quantity">
                <label for="fileAdd">Add File:</label>
                <input type="file" id="fileAdd" class="fileAdd">
                <button type="submit" (click)="createProduct();">add</button>
            </form>    
        </div>
    </div>
}

<!-- edit product -->
@if(showEditProduct()){
    <div class="editProductContainer">
        <div class="editProductModal">
            <span class="material-symbols-outlined closeModal" (click)="closeModal()">
                close
            </span>
            <h1>Edit a product</h1>
            @for(editProduct of editProducts; track editProduct.id){
                <div>
                    <form action="" class="formClass">
                        <label for="editProductName">Name:</label>
                        <input type="text" [(ngModel)]="editProduct.name" name="name" class="name" id="editProductName">
                        <label for="editProductDescription">Description:</label>
                        <textarea [(ngModel)]="editProduct.description" name="description" class="description" id="editProductDescription"></textarea>
                        <label for="editProductPrice">Price:</label>
                        <input type="number" [(ngModel)]="editProduct.price" name="price" class="price" id="editProductPrice">
                        <label for="editProductQuantity{{editProduct.id}}">Quantity:</label>
                        <input type="number" [(ngModel)]="editProduct.quantity" name="quantity" class="quantity" id="editProductQuantity{{editProduct.id}}">
                        <button type="submit"
                            (click)="updateProduct(editProduct.id,editProduct.name,editProduct.description,editProduct.price,editProduct.quantity)">Edit</button>
                    </form>
                </div>
            }
        </div>
    </div>}

<!-- upload media -->
@if(showMediaUpload()){
    <div class="mediaUploadContainer">
        <div class="mediaUploadModal">
            <span class="material-symbols-outlined closeModal" (click)="closeModal()">
                close
            </span>

            <form (submit)="uploadMedia(); $event.preventDefault()" class="formClass">
                <p>{{errorMessage}}</p>
                <label for="file">Choose File</label>
                <input type="file" name="file" id="file" class="file">
                <button type="submit">upload</button>
            </form>
        </div>
    </div>
}

