<div class="productsListContainer">
    <h1>Products</h1>
    <div class="filterContainer">
        <div class="search">
            <input type="text" placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="search()"
                class="searchBox">
        </div>
        <button (click)="toggleInStockFilter()" class="toggleInStock">{{ filterInStockOnly ? 'Show All Products' : 'Show in Stock Only'}}</button>
        <div class="priceRange">
            <input type="number" placeholder="Min Price" [(ngModel)]="minPrice" (ngModelChange)="search()">
            <input type="number" placeholder="Max Price" [(ngModel)]="maxPrice" (ngModelChange)="search()">
        </div>
        <button (click)="toggleSortByPrice()" class="toggleSortByPrice">
            Sort by {{ sortByPriceAscending ? 'most expensive' : 'cheapest' }} 
            <span class="material-symbols-outlined">
                arrow_forward
            </span> 
            {{ sortByPriceAscending ? 'cheapest' : 'most expensive' }}
        </button>
    </div>
    <div class="productsList">
        @for (product of filteredProducts; track product.id) {

            <div  class="productCard" [ngClass]="{'expanded': product.isExpanded}">
                <div class="productImageDiv">
                    
                    <img [src]="getMediaUrl(product.id)" alt="" class="productImage">
                </div>
                <div class="productInfoDiv">
                    <h2>{{ product.name }}</h2>
                    @if(product.description.length > 50){
                        <p>
                            <span>
                                @if(product.isReadMore){ {{ product.description | slice:0:50 }}...} @else { {{ product.description }} }
                            </span>
                            @if(product.isExpanded){
                                <span class="material-symbols-outlined closeIcon" (click)="toggleDescription(product)">close</span>
                            }
                            <a (click)="toggleDescription(product)">{{ product.isReadMore ? ' Read More' : ' Read Less' }}</a>
                        </p>
                    }
                    @else {
                        <p>{{ product.description }}</p>
                    }
                    <p>{{product.price}}€</p>
                    <p>{{ product.quantity}} products left</p>
                    @if(+product.quantity > 0){<span class="material-symbols-outlined" (click)="addToCart(product.id)"> add </span>}
                    <span class="material-symbols-outlined" (click)="addtoFavorite(product.id)">
                        star
                    </span>
                </div>
            </div>
        }
        </div>
</div>