@import "src/app/snackbar-styles.css";

:root{
    --first-color: #E63946;
    --second-color: #f1f1f1;
    --third-color: #c1ddde;
    --fourth-color: #5394bd;
    --fifth-color: #1D3557;
    --sixth-color: #8c8c8c;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
}
html, body { height: 100%; }

