@if(showEdit || showDelete){
  <div class="bakground"></div>}
<div class="mediaManagementContainer">
  @if(username$ | async; as username){
    <div>
      <h1>Media management for {{ username }}</h1>
    </div>}

  <!-- Display all of the user's media -->
  <div class="mediaUrlContainer">
    @for(media of allMedia; track media.productId){
      <div class="mediaItem">
        <div class="infoDiv">
          <span
            class="material-symbols-outlined edit"
            (click)="toggleEdit(media.productId)"
          >
            edit
          </span>
          <span
            class="material-symbols-outlined delete"
            (click)="toggleDelete(media.productId)"
          >
            delete
          </span>
        </div>
        <img
          [src]="'https://localhost:8443/' + media.mediaUrl"
          alt="User's media"
          class="mediaImage"
        />
      </div>}
  </div>

  <!-- edit media modal -->
  @if(showEdit){
    <div class="mediaEditContainer">
      <span class="material-symbols-outlined close" (click)="toggleEdit()">
        close
      </span>
      <form (ngSubmit)="submitEditMedia()" class="editForm">
        @if(errorMessage){<p>{{ errorMessage }}</p>}
        <h1>Edit</h1>
        <label for="file">Choose File</label>
        <input type="file" class="file" id="file" />
        <button type="submit">Edit</button>
      </form>
    </div>}

  <!-- delete media modal -->
  @if(showDelete){
    <div class="mediaDeleteContainer">
      <span class="material-symbols-outlined close" (click)="toggleDelete()">
        close
      </span>
      <form (ngSubmit)="submitDeleteMedia()" class="deleteForm">
        <h1>Delete</h1>
        <p>Are you sure you want to delete this media?</p>
        <button type="submit">Delete</button>
      </form>
    </div>}
</div>
