<div class="cartContainer">
  <h1>My cart</h1>

  <div *ngIf="cart.length > 0" class="orders-list">
    <div class="cart">
        <div *ngFor="let order of cart" class="order">
        <p>Order id: {{order.id}}</p>
        <div *ngFor="let product of order.products" class="orderCard">
          <div class="orderInfo">
            <img
              [src]="getMediaUrl(product.id)"
              alt="{{ product.name }}"
              class="productImage"
            />
            <div>
              <p>{{ product.name }}</p>
              <p>{{ product.price }}$</p>
            </div>
          </div>
          <div class="productActions">
            <span class="material-symbols-outlined delete"> delete </span>
            <span class="material-symbols-outlined"> add </span>

          </div>
        </div>
      </div>
      <div class="orderActions">
        <p>Order Summary:</p>
        <p>Total {{totalPrice}}</p>
        <button class="Checkout">Checkout</button>
      </div>
    </div>
  </div>
</div>
